.navbar-custom {
    background-color: #111111;
    }

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;

}

.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-section {
  position: relative;
  z-index: 1; 
  color: rgb(255, 255, 255); 


}

.custom-strong {
  font-weight: 500; 
  letter-spacing: 0.001em; 
}

.custom-strong-paragraph {
  font-weight: 350; 
  letter-spacing: 0.001em;
}


.btn + .btn {
  margin-left: 1rem;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  color: black;
}

.stat-item {
  text-align: center;
}

.stat-number {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
  display: block;
}


html, body {
  margin: 0 !important;
  padding: 0 !important;
}

.alert {
  margin-bottom: 0;
}

main {
  padding: 0;
  margin: 0;
}
